body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

h1, h2, h3 {
  color: #ffffff; }

hr.hr-light {
  border-top: 1px solid #313640; }

.btn, .btn:focus {
  font-weight: 600;
  box-shadow: none; }

.btn-primary, .btn-primary:focus {
  border: #08b3e2;
  background-color: #08b3e2;
  box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled):active {
  border: #0497C0;
  background-color: #0497C0; }

.btn-primary:hover {
  border: #0497C0;
  background-color: #0497C0; }

.nav-link {
  color: #aaaaaa;
  cursor: pointer; }

.nav-link:hover {
  color: #ffffff; }

.nav-link.active {
  color: #ffffff;
  background-color: #313640; }

.nav-link i {
  color: #434a57; }

.nav-link i.active {
  color: #ffffff; }

.nav-link i:hover {
  color: #ffffff; }

img.rounded {
  border-radius: 1.5rem !important;
  width: 3em;
  height: 3em;
  padding: 3px; }

.btn.login {
  border-radius: 0.1rem !important; }

.user-info {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold; }

.user-info .user-subtitle {
  color: #D7D8D8;
  font-size: 0.8rem;
  font-weight: 500; }

.text-message-time {
  color: #fff;
  font-size: 0.8rem; }

.message-content {
  color: #9198A4; }

.message-menu i {
  color: #9198A4; }

.message-menu i:focus {
  color: #fff; }

.message-menu .btn-secondary, .message-menu .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #282c34;
  border: 0px solid #9198A4; }

.message-menu i:hover {
  color: #fff; }

.message-menu .btn-secondary:hover {
  border: 0px solid #fff; }

.dropleft .dropdown-toggle::before, .dropright .dropdown-toggle::after {
  border-top: 0 solid transparent;
  border-right: 0 solid;
  margin-right: 0;
  content: none; }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
  border: 0px solid #fff; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: #282c34;
  color: #fff; }

.room-menu .btn-secondary {
  background-color: transparent; }

.room-menu {
  background-color: transparent; }

.room-menu .btn-secondary:hover {
  border: 0px solid #313640; }

.room-menu .btn-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
  border: 0px solid #313640; }

.menu-fix-it > div {
  padding-left: 24px;
  min-height: 25px;
  margin-top: -5px;
  display: block; }

textarea.message {
  min-height: 100px; }
