body {
  background-color: #282c34; }

h1, h2, h3 {
  color: #ffffff; }

hr.hr-light {
  border-top: 1px solid #434a57; }

.btn, .btn:focus {
  font-weight: 600;
  box-shadow: none; }

.btn-primary, .btn-primary:focus {
  border: #08b3e2;
  background-color: #08b3e2;
  box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled):active {
  border: #0497C0;
  background-color: #0497C0; }

.btn-primary:hover {
  border: #0497C0;
  background-color: #0497C0; }

.left-nav {
  border-right: 1px solid #434a57; }

.nav-link {
  color: #aaaaaa;
  cursor: pointer; }

.nav-link:hover {
  color: #ffffff; }

.nav-link.active {
  color: #ffffff;
  background-color: #434a57; }

img.rounded {
  border-radius: 1.5rem !important;
  width: 3em;
  height: 3em;
  padding: 3px; }

.btn.login {
  border-radius: 0.1rem !important; }

.user-info {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold; }

.user-info .user-subtitle {
  color: #D7D8D8;
  font-size: 0.8rem;
  font-weight: 500; }
