body {
  background-color: #282c34; }

h1, h2, h3 {
  color: #ffffff; }

hr.hr-light {
  border-top: 1px solid #434a57; }

.btn, .btn:focus {
  font-weight: 600;
  box-shadow: none; }

.btn-primary, .btn-primary:focus {
  border: #08b3e2;
  background-color: #08b3e2;
  box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled):active {
  border: #0497C0;
  background-color: #0497C0; }

.btn-primary:hover {
  border: #0497C0;
  background-color: #0497C0; }

.left-nav {
  border-right: 1px solid #434a57; }

.nav-link {
  color: #ffffff;
  cursor: pointer; }

.nav-link:hover, .nav-link.active {
  color: #08b3e2; }

.nav-link.active {
  background-color: #434a57; }
