$secondary: #1BB954;
$very-dark-gray: #434a57;
$primary: #08b3e2;

//Formatting
body{
  background-color: #282c34;
}

h1,h2,h3{
  color:#ffffff;
}

hr.hr-light{
  border-top: 1px solid $very-dark-gray;
}

//Buttons
.btn, .btn:focus{
  font-weight: 600;
  box-shadow: none;
}

.btn-primary, .btn-primary:focus {
  border: $primary;
  background-color: $primary;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active{
  border: #0497C0;
  background-color: #0497C0;
}

.btn-primary:hover{
  border: #0497C0;
  background-color: #0497C0;
}


//Navigation
.left-nav{
  // border-right: 1px solid $very-dark-gray;
}

//Room Selector
.nav-link{
  color:rgb(170, 170, 170);
  cursor: pointer;
}

.nav-link:hover{
    color: #ffffff;
}

.nav-link.active{
  color: #ffffff;
  background-color: $very-dark-gray;
}

img.rounded{
  border-radius:1.5rem!important;
  width:3em;
  height:3em;
  padding: 3px;
  // border: 2px solid #9B9B9B;
}


//userinfo
.navbar {
  // border-bottom: 1px solid #434A57;
  // background-color: #434A57;
}
.btn.login{
  border-radius:0.1rem!important;
}


.user-info{
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}

.user-info .user-subtitle{
  color: #D7D8D8;
  font-size: 0.8rem;
  font-weight: 500;

}

.text-message-time{
  color: #9198A4;
  font-size: 0.9rem;
}

.message-content{
  color: #9198A4;
  // font-weight: 300;
}